<launch>

  <node name="fake_loc" pkg="mr_control" type="fake_loc" respawn="false" output="log"/>

  <node name="paths_follower" pkg="mr_control" type="paths_follower" respawn="false" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mr_control)/rviz/config.rviz" />

</launch>
